RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://(.*)757code.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)757code.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)collegechore.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)collegechore.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)collegeneur.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)collegeneur.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)collegereps.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)collegereps.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)dev-dormconfessions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)dev-dormconfessions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)dormconfessions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)dormconfessions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)genycontent.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)genycontent.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)getturntapp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)getturntapp.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)hahgay.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)hahgay.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)monthlysnacks.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)monthlysnacks.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)nigz.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)nigz.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)omgwhocares.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)omgwhocares.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)staging-dormconfessions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)staging-dormconfessions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)staging.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)staging.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)time4dat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)time4dat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)yesterfeed.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)yesterfeed.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)yilb.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)yilb.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)youaresodumb.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)youaresodumb.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)getopenlyapp.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*)getopenlyapp.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

